In [2]:
from sklearn import datasets
import pandas as pd

In [8]:
df = pd.DataFrame(datasets.load_wine().data)
df.columns = datasets.load_wine().feature_names
df.head(5)

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [9]:
df.shape

(178, 13)

In [11]:
df_new = df.iloc[:, :2]
df_new.head()

   alcohol  malic_acid
0    14.23        1.71
1    13.20        1.78
2    13.16        2.36
3    14.37        1.95
4    13.24        2.59

In [15]:
import pandera as pa

In [21]:
df_schema = pa.infer_schema(df_new)
with open("schema.py", "w") as f:
    f.write(df_schema.to_script())

c:\Users\ksatw\anaconda3\Lib\site-packages\pandera\schema_statistics\pandas.py:214: UserWarning: You do not need more than one check out of equal_to (eq), greater_than (gt), less_than (lt), greater_than_or_equal_to (lt), less_than_or_equal_to (le), in_range (between).
  warnings.warn(

In [ ]:
import numpy as np

thresholds = np.arange(0.05, 0.96, 0.05)

results = []

for t in thresholds:
    y_pred_t = (y_probs >= t).astype(int)

    precision = precision_score(y_test, y_pred_t, zero_division=0)
    recall = recall_score(y_test, y_pred_t, zero_division=0)
    f1 = f1_score(y_test, y_pred_t, zero_division=0)

    results.append((t, precision, recall, f1))

results_df = pd.DataFrame(
    results, columns=["threshold", "precision", "recall", "f1"]
)

print(results_df)